html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas, #map_canvas {
    height: 100%;
}

@media print {
    html, body {
        height: auto;
    }

    #map_canvas {
        height: 650px;
    }
}


#directions-panel {
    display:none;
    height: 400px;
    float: right;
    width: 390px;
    overflow: auto;
}

#map-canvas {
    border: 1px solid RED; 
    margin:1px 0px 0px 0px; 
    height: 650px; 
    width: 850px;
}



#control {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}

@media print {
    #map-canvas {
        height: 500px;
        margin: 0;
    }

    #directions-panel {
        display:none;
        overflow: auto;
        float: none;
        width: auto;
    }
}



#directions-panel-2{
    display:none; 
    border: 1px solid BLACK;
    margin:2px;
    height: 100%;
    overflow: auto;
    width: auto; 
    float: none;   
}

#panelproposta{
    margin:100px 0px 0px 2px; 
    border:1px solid aqua; 
    width: 100% !important;
}