<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:componentes="http://java.sun.com/jsf/composite/componentes">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="default.css" />
        <h:outputStylesheet library="css" name="cssLayout.css" />

        <!-- Le styles -->
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        
        <title>Simple Chat Server</title>
    </h:head>

    <h:body>

        <!-- navbar-fixed-top o menu fica fixado, se retirar a barra rola ate embaixo -->    
        <div class="navbar">
            <div class="navbar-inner">
                <h:outputLink  id="link" value="#{facesContext.externalContext.requestContextPath}/restrict/home.faces" >
                    <p:graphicImage style="height:100px !important;"  value="/resources/imagens/caminhao.png"  />  
                </h:outputLink> 
                <h:form style="float: right;">
                    <br/>
                    <h6><h:outputText value="Seja bem vindo(a)  #{chatController.chatMessage.user}!"/></h6>
                    <h:commandLink value="Logout" action="#{loginController.logout}"/>
                </h:form>
            </div>
            <componentes:menupersonalizado /> 
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <ui:insert name="content">  
                               
                </ui:insert>  
            </div>  
            <hr></hr>

            <footer>
                <div class="row text-center">
                    <p>©RodoAgro Tiaguim Ferreia Company 2014</p>
                </div>
            </footer>
        </div>  
    </h:body>
</html>
