<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html">
 
    
    <!-- INTERFACE -->
    <cc:interface>
      <cc:attribute name="username" />
      <cc:attribute name="password" />
      <cc:attribute name="loginAction" 
                    method-signature="java.lang.Boolean login()" /> 
      
      
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
      <h:outputStylesheet library="css" name="animate.css" />
      <h:outputStylesheet library="css" name="styles.css" />
        
       
	<!-- Begin Page Content -->
	
	<div id="container">
		
            <form action="#" method="post" id="login">
		
		<label for="j_username">Username:</label>
                <input id="j_username" type="name"></input>
		
                
		<label for="j_password">Password:</label>
                <input id="j_password" type="password"></input>
                

		<h:commandButton action="#{cc.attrs.loginAction}" value="Entrar"/>

		</form>
		
	</div>
	

    </cc:implementation>

</html>