<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/layout/template.xhtml">

    <ui:define name="content">
        <p:outputPanel>
            <h:form id="form">
                <h:panelGrid columns="2">
                    <p:panel header="Chat" style="width: 800px">
                        <p:messages id="message"/>
                        <h:panelGrid columns="1">
                            <h:inputTextarea class="textArea" value="#{chatController.chatMessage.message}"
                                             title="Chat" cols="63" rows="10"  />
                           
                                <h:panelGrid columns="3">
                                    <h:outputLabel value="Message.: "/>
                                    <h:inputText value="#{chatController.chatMessage.message}"/>
                                    <h:commandButton value="Send" action="#{chatController.send}"/>
                                </h:panelGrid>
                        </h:panelGrid>
                    </p:panel>
                    <p:panel header="Users" style="height: 370px;">
                        <p:selectOneListbox value="" style="height: 305px">
                            <f:selectItems value="#{loginController.users}" var="chat" 
                                           itemLabel="#{chat.user}" itemValue="#{chat.user}" />
                        </p:selectOneListbox>
                    </p:panel>

                </h:panelGrid>
            </h:form>
        </p:outputPanel>
    </ui:define>
</ui:composition>
