<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:componentes="http://java.sun.com/jsf/composite/componentes">
    <h:head>
        <title>Simple Chat Server</title>
        <h:outputStylesheet library="css" name="animate.css" />
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body onload="login.j_username.focus();">

        <div id="container">
            <h:form id="login">
                <p:growl id="msg"></p:growl>

                <h:outputLabel for="j_username" value="Usuário: " /> 
                <h:inputText id="j_username" required="true" value="#{chatController.chatMessage.user}"/>

                <h:commandButton value="Entrar" action="#{loginController.login}"/>

            </h:form>
        </div>
    </h:body>
</html>

